---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1495474855'
      Etag:
      - W/"2124aafe60d24524ad58f9fad9808ca3"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"current_user_url":"https://api.github.com/user","current_user_authorizations_html_url":"https://github.com/settings/connections/applications{/client_id}","authorizations_url":"https://api.github.com/authorizations","code_search_url":"https://api.github.com/search/code?q={query}{&page,per_page,sort,order}","commit_search_url":"https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}","emails_url":"https://api.github.com/user/emails","emojis_url":"https://api.github.com/emojis","events_url":"https://api.github.com/events","feeds_url":"https://api.github.com/feeds","followers_url":"https://api.github.com/user/followers","following_url":"https://api.github.com/user/following{/target}","gists_url":"https://api.github.com/gists{/gist_id}","hub_url":"https://api.github.com/hub","issue_search_url":"https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}","issues_url":"https://api.github.com/issues","keys_url":"https://api.github.com/user/keys","notifications_url":"https://api.github.com/notifications","organization_repositories_url":"https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}","organization_url":"https://api.github.com/orgs/{org}","public_gists_url":"https://api.github.com/gists/public","rate_limit_url":"https://api.github.com/rate_limit","repository_url":"https://api.github.com/repos/{owner}/{repo}","repository_search_url":"https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}","current_user_repositories_url":"https://api.github.com/user/repos{?type,page,per_page,sort}","starred_url":"https://api.github.com/user/starred{/owner}{/repo}","starred_gists_url":"https://api.github.com/gists/starred","team_url":"https://api.github.com/teams","user_url":"https://api.github.com/users/{user}","user_organizations_url":"https://api.github.com/user/orgs","user_repositories_url":"https://api.github.com/users/{user}/repos{?type,page,per_page,sort}","user_search_url":"https://api.github.com/search/users?q={query}{&page,per_page,sort,order}"}'
  recorded_at: Mon, 22 May 2017 17:03:37 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1495474855'
      Etag:
      - W/"096df6d51c4aa289a8d6dd7dd6d5b1ec"
      Last-Modified:
      - Wed, 12 Apr 2017 09:51:53 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":16435482,"name":"versioneye-core","full_name":"versioneye/versioneye-core","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars0.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/versioneye/versioneye-core","description":"Models,
        Services & Mails for VersionEye","fork":false,"url":"https://api.github.com/repos/versioneye/versioneye-core","forks_url":"https://api.github.com/repos/versioneye/versioneye-core/forks","keys_url":"https://api.github.com/repos/versioneye/versioneye-core/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/versioneye-core/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/versioneye-core/teams","hooks_url":"https://api.github.com/repos/versioneye/versioneye-core/hooks","issue_events_url":"https://api.github.com/repos/versioneye/versioneye-core/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/versioneye-core/events","assignees_url":"https://api.github.com/repos/versioneye/versioneye-core/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/versioneye-core/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/versioneye-core/tags","blobs_url":"https://api.github.com/repos/versioneye/versioneye-core/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/versioneye-core/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/versioneye-core/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/versioneye-core/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/versioneye-core/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/versioneye-core/languages","stargazers_url":"https://api.github.com/repos/versioneye/versioneye-core/stargazers","contributors_url":"https://api.github.com/repos/versioneye/versioneye-core/contributors","subscribers_url":"https://api.github.com/repos/versioneye/versioneye-core/subscribers","subscription_url":"https://api.github.com/repos/versioneye/versioneye-core/subscription","commits_url":"https://api.github.com/repos/versioneye/versioneye-core/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/versioneye-core/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/versioneye-core/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/versioneye-core/issues/comments{/number}","contents_url":"https://api.github.com/repos/versioneye/versioneye-core/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/versioneye-core/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/versioneye-core/merges","archive_url":"https://api.github.com/repos/versioneye/versioneye-core/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/versioneye-core/downloads","issues_url":"https://api.github.com/repos/versioneye/versioneye-core/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/versioneye-core/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/versioneye-core/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/versioneye-core/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/versioneye-core/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/versioneye-core/releases{/id}","deployments_url":"https://api.github.com/repos/versioneye/versioneye-core/deployments","created_at":"2014-02-01T14:37:29Z","updated_at":"2017-04-12T09:51:53Z","pushed_at":"2017-05-22T11:33:11Z","git_url":"git://github.com/versioneye/versioneye-core.git","ssh_url":"git@github.com:versioneye/versioneye-core.git","clone_url":"https://github.com/versioneye/versioneye-core.git","svn_url":"https://github.com/versioneye/versioneye-core","homepage":"","size":5694,"stargazers_count":55,"watchers_count":55,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":13,"mirror_url":null,"open_issues_count":4,"forks":13,"open_issues":4,"watchers":55,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars0.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"network_count":13,"subscribers_count":10}'
  recorded_at: Mon, 22 May 2017 17:03:38 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1495474855'
      Etag:
      - W/"df8f7396547bcb5c7e18600565529b85"
      Last-Modified:
      - Wed, 12 Apr 2017 09:51:53 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/16435482/tags?per_page=100&page=2>; rel="next",
        <https://api.github.com/repositories/16435482/tags?per_page=100&page=13>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v11.12.8","zipball_url":"https://api.github.com/repos/versioneye/versioneye-core/zipball/v11.12.8","tarball_url":"https://api.github.com/repos/versioneye/versioneye-core/tarball/v11.12.8","commit":{"sha":"a0f89001eaffed655eab55bd6a463bcddbe5b5ba","url":"https://api.github.com/repos/versioneye/versioneye-core/commits/a0f89001eaffed655eab55bd6a463bcddbe5b5ba"}},{"name":"v11.12.7","zipball_url":"https://api.github.com/repos/versioneye/versioneye-core/zipball/v11.12.7","tarball_url":"https://api.github.com/repos/versioneye/versioneye-core/tarball/v11.12.7","commit":{"sha":"7dca965530f833111476c2518168adffb01c67d5","url":"https://api.github.com/repos/versioneye/versioneye-core/commits/7dca965530f8331[...]
- request:
    method: get
    uri: https://api.github.com/repositories/16435482/tags?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-[...]
[...]
