---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-core/commits/a0f89001eaffed655eab55bd6a463bcddbe5b5ba
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1495474855'
      Etag:
      - W/"46ed5dfb5ef461f5003432ab6e0d129f"
      Last-Modified:
      - Fri, 19 May 2017 11:51:01 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"a0f89001eaffed655eab55bd6a463bcddbe5b5ba","commit":{"author":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2017-05-19T11:51:01Z"},"committer":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2017-05-19T11:51:01Z"},"message":"Improve
        JSPM parsing","tree":{"sha":"97bf5491e47df948200b20d020cf4c7864c2b93e","url":"https://api.github.com/repos/versioneye/versioneye-core/git/trees/97bf5491e47df948200b20d020cf4c7864c2b93e"},"url":"https://api.github.com/repos/versioneye/versioneye-core/git/commits/a0f89001eaffed655eab55bd6a463bcddbe5b5ba","comment_count":0},"url":"https://api.github.com/repos/versioneye/versioneye-core/commits/a0f89001eaffed655eab55bd6a463bcddbe5b5ba","html_url":"https://github.com/versioneye/versioneye-core/commit/a0f89001eaffed655eab55bd6a463bcddbe5b5ba","comments_url":"https://api.github.com/repos/versioneye/versioneye-core/commits/a0f89001eaffed655eab55bd6a463bcddbe5b5ba/comments","author":{"login":"reiz","id":652130,"avatar_url":"https://avatars3.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.com/users/reiz","html_url":"https://github.com/reiz","followers_url":"https://api.github.com/users/reiz/followers","following_url":"https://api.github.com/users/reiz/following{/other_user}","gists_url":"https://api.github.com/users/reiz/gists{/gist_id}","starred_url":"https://api.github.com/users/reiz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/reiz/subscriptions","organizations_url":"https://api.github.com/users/reiz/orgs","repos_url":"https://api.github.com/users/reiz/repos","events_url":"https://api.github.com/users/reiz/events{/privacy}","received_events_url":"https://api.github.com/users/reiz/received_events","type":"User","site_admin":false},"committer":{"login":"reiz","id":652130,"avatar_url":"https://avatars3.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https://api.github.com/users/reiz","html_url":"https://github.com/reiz","followers_url":"https://api.github.com/users/reiz/followers","following_url":"https://api.github.com/users/reiz/following{/other_user}","gists_url":"https://api.github.com/users/reiz/gists{/gist_id}","starred_url":"https://api.github.com/users/reiz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/reiz/subscriptions","organizations_url":"https://api.github.com/users/reiz/orgs","repos_url":"https://api.github.com/users/reiz/repos","events_url":"https://api.github.com/users/reiz/events{/privacy}","received_events_url":"https://api.github.com/users/reiz/received_events","type":"User","site_admin":false},"parents":[{"sha":"7dca965530f833111476c2518168adffb01c67d5","url":"https://api.github.com/repos/versioneye/versioneye-core/commits/7dca965530f833111476c2518168adffb01c67d5","html_url":"https://github.com/versioneye/versioneye-core/commit/7dca965530f833111476c2518168adffb01c67d5"}],"stats":{"total":29,"additions":20,"deletions":9},"files":[{"sha":"8f1d5c7a8c1f363c55852ca989cde75129e4c143","filename":"lib/versioneye/parsers/jspm_parser.rb","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/versioneye/versioneye-core/blob/a0f89001eaffed655eab55bd6a463bcddbe5b5ba/lib/versioneye/parsers/jspm_parser.rb","raw_url":"https://github.com/versioneye/versioneye-core/raw/a0f89001eaffed655eab55bd6a463bcddbe5b5ba/lib/versioneye/parsers/jspm_parser.rb","contents_url":"https://api.github.com/repos/versioneye/versioneye-core/contents/lib/versioneye/parsers/jspm_parser.rb?ref=a0f89001eaffed655eab55bd6a463bcddbe5b5ba","patch":"@@
        -61,7 +61,7 @@ def parse_dependencies(project, deps, scope, default_registry
        = nil)\n \n \n   def parse_dependency(project, pkg_id, dep_line, scope, default_registry)\n-    github_match
        = dep_line[0..5].match(/\\Agithub:(.*)(@.*)/i)\n+    github_match = dep_line.to_s.strip.match(/\\Agithub:(.*)(@.*)/i)\n     if
        github_match\n       version_label = \"github#{github_match[2]}\"\n       product
        = nil"},{"sha":"6fbbd3318d034f228e21ec95b960bc82590238d4","filename":"lib/versioneye/parsers/package_parser.rb","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/versioneye/versioneye-core/blob/a0f89001eaffed655eab55bd6a463bcddbe5b5ba/lib/versioneye/parsers/package_parser.rb","raw_url":"https://github.com/versioneye/versioneye-core/raw/a0f89001eaffed655eab55bd6a463bcddbe5b5ba/lib/versioneye/parsers/package_parser.rb","contents_url":"https://api.github.com/repos/versioneye/versioneye-core/contents/lib/versioneye/parsers/package_parser.rb?ref=a0f89001eaffed655eab55bd6a463bcddbe5b5ba","patch":"@@
        -52,7 +52,7 @@ def parse_content( content, token = nil )\n     if data.has_key?(''jspm'')\n       log.info
        \"going to parse child JSPM project dependencies\"\n       jspm_parser = JspmParser.new\n-      #JSPM
        parser expects that all the fields are keywords\n+      # JSPM parser expects
        that all the fields are keywords\n       symbolized_doc = JSON.parse(content,
        symbolize_names: true)\n       child_project = jspm_parser.parse_project_doc(symbolized_doc,
        project.id.to_s)\n       if child_project"},{"sha":"48ad47e14adab10c51a414b708d9b82d8e059e4d","filename":"lib/versioneye/version.rb","status":"modified","additions":1,"deletions":1,"changes":2,"blob_url":"https://github.com/versioneye/versioneye-core/blob/a0f89001eaffed655eab55bd6a463bcddbe5b5ba/lib/versioneye/version.rb","raw_url":"https://github.com/versioneye/versioneye-core/raw/a0f89001eaffed655eab55bd6a463b[...]
