---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '5000'
      X-Ratelimit-Reset:
      - '1499329587'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"remaining":5000,"reset":1499329587},"search":{"limit":30,"remaining":30,"reset":1499326047},"graphql":{"limit":5000,"remaining":5000,"reset":1499329587}},"rate":{"limit":5000,"remaining":5000,"reset":1499329587}}'
  recorded_at: Thu, 06 Jul 2017 07:26:27 GMT
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1499329588'
      Etag:
      - W/"2124aafe60d24524ad58f9fad9808ca3"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"current_user_url":"https://api.github.com/user","current_user_authorizations_html_url":"https://github.com/settings/connections/applications{/client_id}","authorizations_url":"https://api.github.com/authorizations","code_search_url":"https://api.github.com/search/code?q={query}{&page,per_page,sort,order}","commit_search_url":"https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}","emails_url":"https://api.github.com/user/emails","emojis_url":"https://api.github.com/emojis","events_url":"https://api.github.com/events","feeds_url":"https://api.github.com/feeds","followers_url":"https://api.github.com/user/followers","following_url":"https://api.github.com/user/following{/target}","gists_url":"https://api.github.com/gists{/gist_id}","hub_url":"https://api.github.com/hub","issue_search_url":"https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}","issues_url":"https://api.github.com/issues","keys_url":"https://api.github.com/user/keys","notifications_url":"https://api.github.com/notifications","organization_repositories_url":"https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}","organization_url":"https://api.github.com/orgs/{org}","public_gists_url":"https://api.github.com/gists/public","rate_limit_url":"https://api.github.com/rate_limit","repository_url":"https://api.github.com/repos/{owner}/{repo}","repository_search_url":"https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}","current_user_repositories_url":"https://api.github.com/user/repos{?type,page,per_page,sort}","starred_url":"https://api.github.com/user/starred{/owner}{/repo}","starred_gists_url":"https://api.github.com/gists/starred","team_url":"https://api.github.com/teams","user_url":"https://api.github.com/users/{user}","user_organizations_url":"https://api.github.com/user/orgs","user_repositories_url":"https://api.github.com/users/{user}/repos{?type,page,per_page,sort}","user_search_url":"https://api.github.com/search/users?q={query}{&page,per_page,sort,order}"}'
  recorded_at: Thu, 06 Jul 2017 07:26:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-security
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1499329588'
      Etag:
      - W/"e038317eec119ac0bf31645d4a3d9823"
      Last-Modified:
      - Mon, 12 Jun 2017 15:11:52 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":44393965,"name":"versioneye-security","full_name":"versioneye/versioneye-security","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars0.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/versioneye/versioneye-security","description":"Security
        Crawler for VersionEye","fork":false,"url":"https://api.github.com/repos/versioneye/versioneye-security","forks_url":"https://api.github.com/repos/versioneye/versioneye-security/forks","keys_url":"https://api.github.com/repos/versioneye/versioneye-security/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/versioneye-security/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/versioneye-security/teams","hooks_url":"https://api.github.com/repos/versioneye/versioneye-security/hooks","issue_events_url":"https://api.github.com/repos/versioneye/versioneye-security/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/versioneye-security/events","assignees_url":"https://api.github.com/repos/versioneye/versioneye-security/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/versioneye-security/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/versioneye-security/tags","blobs_url":"https://api.github.com/repos/versioneye/versioneye-security/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/versioneye-security/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/versioneye-security/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/versioneye-security/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/versioneye-security/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/versioneye-security/languages","stargazers_url":"https://api.github.com/repos/versioneye/versioneye-security/stargazers","contributors_url":"https://api.github.com/repos/versioneye/versioneye-security/contributors","subscribers_url":"https://api.github.com/repos/versioneye/versioneye-security/subscribers","subscription_url":"https://api.github.com/repos/versioneye/versioneye-security/subscription","commits_url":"https://api.github.com/repos/versioneye/versioneye-security/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/versioneye-security/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/versioneye-security/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/versioneye-security/issues/comments{/number}","contents_url":"https://api.github.com/repos/versioneye/versioneye-security/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/versioneye-security/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/versioneye-security/merges","archive_url":"https://api.github.com/repos/versioneye/versioneye-security/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/versioneye-security/downloads","issues_url":"https://api.github.com/repos/versioneye/versioneye-security/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/versioneye-security/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/versioneye-security/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/versioneye-security/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/versioneye-security/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/versioneye-security/releases{/id}","deployments_url":"https://api.github.com/repos/versioneye/versioneye-security/deployments","created_at":"2015-10-16T15:27:51Z","updated_at":"2017-06-12T15:11:52Z","pushed_at":"2017-06-08T15:53:08Z","git_url":"git://github.com/versioneye/versioneye-security.git","ssh_url":"git@github.com:versioneye/versioneye-security.git","clone_url":"https://github.com/versioneye/versioneye-security.git","svn_url":"https://github.com/versioneye/versioneye-security","homepage":"https://www.versioneye.com","size":170,"stargazers_count":7,"watchers_count":7,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":4,"mirror_url":null,"open_issues_count":2,"forks":4,"open_issues":2,"watchers":7,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars0.githubusercontent.com/u/3974102?v=3","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"network_count":4,"subscribers_count":3}'
  recorded_at: Thu, 06 Jul 2017 07:26:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-security/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1499329588'
      Etag:
      - W/"2002eb568e209eab9e3fb794eb689a84"
      Last-Modified:
      - Mon, 12 Jun 2017 15:11:52 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v1.3.0","zipball_url":"https://api.github.com/repos/versioneye/versioneye-security/zipball/v1.3.0","tarball_url":"https://api.github.com/repos/versioneye/versioneye-security/tarball/v1.3.0","commit":{"sha":"c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877","url":"https://api.github.com/repos/versioneye/versioneye-security/commits/c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877"}},{"name":"v1.2.1","zipball_url":"https://api.github.com/repos/versioneye/versioneye-security/zipball/v1.2.1","tarball_url":"https://api.github.com/repos/versioneye/versioneye-security/tarball/v1.2.1","commit":{"sha":"764e054c8c6e40401ffbe446c4cb235ce8f553ff","url":"https://api.github.com/repos/versioneye/versioneye-security/commits/764e0[...]
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/versioneye-security/commits/c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dGVzdHZleWU6dGVzdF92ZXJzaW9uXzEy
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1499329588'
      Etag:
      - W/"4a626f1884a064cca686d01582e58562"
      Last-Modified:
      - Wed, 03 Aug 2016 14:35:53 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877","commit":{"author":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2016-08-03T14:35:53Z"},"committer":{"name":"reiz","email":"robert.reiz.81@gmail.com","date":"2016-08-03T14:35:53Z"},"message":"Add
        Snyk","tree":{"sha":"165321c5fef4fc0b1d2563969dea09f340e387e1","url":"https://api.github.com/repos/versioneye/versioneye-security/git/trees/165321c5fef4fc0b1d2563969dea09f340e387e1"},"url":"https://api.github.com/repos/versioneye/versioneye-security/git/commits/c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877","comment_count":0},"url":"https://api.github.com/repos/versioneye/versioneye-security/commits/c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877","html_url":"https://github.com/versioneye/versioneye-security/commit/c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877","comments_url":"https://api.github.com/repos/versioneye/versioneye-security/commits/c5d4c05b0751e4c97a76fd4ef3e8b70fc2616877/comments","author":{"login":"reiz","id":652130,"avatar_url":"https://avatars3.githubusercontent.com/u/652130?v=3","gravatar_id":"","url":"https:[...]
[...]
