---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1aca6358d69681767f89de9fdf6a2f275543c8dd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1500391048'
      Etag:
      - W/"64bedc38c69d6db7d9b9bdb48cb75b30"
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"current_user_url":"https://api.github.com/user","current_user_authorizations_html_url":"https://github.com/settings/connections/applications{/client_id}","authorizations_url":"https://api.github.com/authorizations","code_search_url":"https://api.github.com/search/code?q={query}{&page,per_page,sort,order}","commit_search_url":"https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}","emails_url":"https://api.github.com/user/emails","emojis_url":"https://api.github.com/emojis","events_url":"https://api.github.com/events","feeds_url":"https://api.github.com/feeds","followers_url":"https://api.github.com/user/followers","following_url":"https://api.github.com/user/following{/target}","gists_url":"https://api.github.com/gists{/gist_id}","hub_url":"https://api.github.com/hub","issue_search_url":"https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}","issues_url":"https://api.github.com/issues","keys_url":"https://api.github.com/user/keys","notifications_url":"https://api.github.com/notifications","organization_repositories_url":"https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}","organization_url":"https://api.github.com/orgs/{org}","public_gists_url":"https://api.github.com/gists/public","rate_limit_url":"https://api.github.com/rate_limit","repository_url":"https://api.github.com/repos/{owner}/{repo}","repository_search_url":"https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}","current_user_repositories_url":"https://api.github.com/user/repos{?type,page,per_page,sort}","starred_url":"https://api.github.com/user/starred{/owner}{/repo}","starred_gists_url":"https://api.github.com/gists/starred","team_url":"https://api.github.com/teams","user_url":"https://api.github.com/users/{user}","user_organizations_url":"https://api.github.com/user/orgs","user_repositories_url":"https://api.github.com/users/{user}/repos{?type,page,per_page,sort}","user_search_url":"https://api.github.com/search/users?q={query}{&page,per_page,sort,order}"}'
  recorded_at: Tue, 18 Jul 2017 14:17:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/pom_json_format
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1aca6358d69681767f89de9fdf6a2f275543c8dd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1500391048'
      Etag:
      - W/"bd623598387d2f5d36976c8cf9652ff8"
      Last-Modified:
      - Mon, 01 Aug 2016 13:33:44 GMT
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":40880476,"name":"pom_json_format","full_name":"versioneye/pom_json_format","owner":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars3.githubusercontent.com/u/3974102?v=4","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/versioneye/pom_json_format","description":null,"fork":false,"url":"https://api.github.com/repos/versioneye/pom_json_format","forks_url":"https://api.github.com/repos/versioneye/pom_json_format/forks","keys_url":"https://api.github.com/repos/versioneye/pom_json_format/keys{/key_id}","collaborators_url":"https://api.github.com/repos/versioneye/pom_json_format/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/versioneye/pom_json_format/teams","hooks_url":"https://api.github.com/repos/versioneye/pom_json_format/hooks","issue_events_url":"https://api.github.com/repos/versioneye/pom_json_format/issues/events{/number}","events_url":"https://api.github.com/repos/versioneye/pom_json_format/events","assignees_url":"https://api.github.com/repos/versioneye/pom_json_format/assignees{/user}","branches_url":"https://api.github.com/repos/versioneye/pom_json_format/branches{/branch}","tags_url":"https://api.github.com/repos/versioneye/pom_json_format/tags","blobs_url":"https://api.github.com/repos/versioneye/pom_json_format/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/versioneye/pom_json_format/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/versioneye/pom_json_format/git/refs{/sha}","trees_url":"https://api.github.com/repos/versioneye/pom_json_format/git/trees{/sha}","statuses_url":"https://api.github.com/repos/versioneye/pom_json_format/statuses/{sha}","languages_url":"https://api.github.com/repos/versioneye/pom_json_format/languages","stargazers_url":"https://api.github.com/repos/versioneye/pom_json_format/stargazers","contributors_url":"https://api.github.com/repos/versioneye/pom_json_format/contributors","subscribers_url":"https://api.github.com/repos/versioneye/pom_json_format/subscribers","subscription_url":"https://api.github.com/repos/versioneye/pom_json_format/subscription","commits_url":"https://api.github.com/repos/versioneye/pom_json_format/commits{/sha}","git_commits_url":"https://api.github.com/repos/versioneye/pom_json_format/git/commits{/sha}","comments_url":"https://api.github.com/repos/versioneye/pom_json_format/comments{/number}","issue_comment_url":"https://api.github.com/repos/versioneye/pom_json_format/issues/comments{/number}","contents_url":"https://api.github.com/repos/versioneye/pom_json_format/contents/{+path}","compare_url":"https://api.github.com/repos/versioneye/pom_json_format/compare/{base}...{head}","merges_url":"https://api.github.com/repos/versioneye/pom_json_format/merges","archive_url":"https://api.github.com/repos/versioneye/pom_json_format/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/versioneye/pom_json_format/downloads","issues_url":"https://api.github.com/repos/versioneye/pom_json_format/issues{/number}","pulls_url":"https://api.github.com/repos/versioneye/pom_json_format/pulls{/number}","milestones_url":"https://api.github.com/repos/versioneye/pom_json_format/milestones{/number}","notifications_url":"https://api.github.com/repos/versioneye/pom_json_format/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/versioneye/pom_json_format/labels{/name}","releases_url":"https://api.github.com/repos/versioneye/pom_json_format/releases{/id}","deployments_url":"https://api.github.com/repos/versioneye/pom_json_format/deployments","created_at":"2015-08-17T09:11:36Z","updated_at":"2016-08-01T13:33:44Z","pushed_at":"2017-07-10T10:02:21Z","git_url":"git://github.com/versioneye/pom_json_format.git","ssh_url":"git@github.com:versioneye/pom_json_format.git","clone_url":"https://github.com/versioneye/pom_json_format.git","svn_url":"https://github.com/versioneye/pom_json_format","homepage":null,"size":2,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"versioneye","id":3974102,"avatar_url":"https://avatars3.githubusercontent.com/u/3974102?v=4","gravatar_id":"","url":"https://api.github.com/users/versioneye","html_url":"https://github.com/versioneye","followers_url":"https://api.github.com/users/versioneye/followers","following_url":"https://api.github.com/users/versioneye/following{/other_user}","gists_url":"https://api.github.com/users/versioneye/gists{/gist_id}","starred_url":"https://api.github.com/users/versioneye/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/versioneye/subscriptions","organizations_url":"https://api.github.com/users/versioneye/orgs","repos_url":"https://api.github.com/users/versioneye/repos","events_url":"https://api.github.com/users/versioneye/events{/privacy}","received_events_url":"https://api.github.com/users/versioneye/received_events","type":"Organization","site_admin":false},"network_count":1,"subscribers_count":3}'
  recorded_at: Tue, 18 Jul 2017 14:17:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/pom_json_format/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1aca6358d69681767f89de9fdf6a2f275543c8dd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1500391048'
      Etag:
      - W/"c1146cacf1582cd033fc25e85bf582eb"
      Last-Modified:
      - Mon, 01 Aug 2016 13:33:44 GMT
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"1.0.0","zipball_url":"https://api.github.com/repos/versioneye/pom_json_format/zipball/1.0.0","tarball_url":"https://api.github.com/repos/versioneye/pom_json_format/tarball/1.0.0","commit":{"sha":"1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0","url":"https://api.github.com/repos/versioneye/pom_json_format/commits/1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0"}}]'
  recorded_at: Tue, 18 Jul 2017 14:17:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/versioneye/pom_json_format/commits/1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0?client_id=&client_secret=1aca6358d69681767f89de9fdf6a2f275543c8dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1500390070'
      Etag:
      - W/"ccca3530cec44803ea11bf3dd17a0a67"
      Last-Modified:
      - Mon, 17 Aug 2015 09:45:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0","commit":{"author":{"name":"Robert
        Reiz","email":"robert.reiz.81@gmail.com","date":"2015-08-17T09:45:12Z"},"committer":{"name":"Robert
        Reiz","email":"robert.reiz.81@gmail.com","date":"2015-08-17T09:45:12Z"},"message":"Add
        note for dependency name.","tree":{"sha":"dbdbbbb0c68c383e94d7ab1cb9db36688d62bb59","url":"https://api.github.com/repos/versioneye/pom_json_format/git/trees/dbdbbbb0c68c383e94d7ab1cb9db36688d62bb59"},"url":"https://api.github.com/repos/versioneye/pom_json_format/git/commits/1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0","comment_count":0},"url":"https://api.github.com/repos/versioneye/pom_json_format/commits/1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0","html_url":"https://github.com/versioneye/pom_json_format/commit/1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0","comments_url":"https://api.github.com/repos/versioneye/pom_json_format/commits/1e56506bfbf2a5bf8e7be1a7ad77f0436369c2d0/comments","author":{"login":"reiz","id":652130,"avatar_url":"https://avatars0.githubusercontent.com/u/652130?v=4","gravatar_id":"","url":"https://api.github[...]
