---
http_interactions:
- request:
    method: get
    uri: https://hex.pm/api/packages/cowboy/releases/1.1.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.hex+json; charset=utf-8
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1496128440'
      Etag:
      - b2f83f8b5e9d5c72078b96208f30a31f
      Last-Modified:
      - Mon, 06 Feb 2017 11:30:33 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.1.2","url":"https://hex.pm/api/packages/cowboy/releases/1.1.2","updated_at":"2017-02-06T11:30:33.105636Z","retirement":null,"requirements":{"ranch":{"requirement":"~>
        1.3.2","optional":false,"app":"ranch"},"cowlib":{"requirement":"~> 1.0.2","optional":false,"app":"cowlib"}},"package_url":"https://hex.pm/api/packages/cowboy","meta":{"elixir":null,"build_tools":["rebar3"],"app":"cowboy"},"inserted_at":"2017-02-06T11:30:33.105625Z","has_docs":false,"downloads":337852}'
  recorded_at: Tue, 30 May 2017 07:13:36 GMT
recorded_with: VCR 3.0.3
