---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/nginx/nginx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1aca6358d69681767f89de9fdf6a2f275543c8dd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1500386186'
      Etag:
      - W/"35154118b763d7bb3f953ba13856bff8"
      Last-Modified:
      - Tue, 18 Jul 2017 07:34:18 GMT
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":37912398,"name":"nginx","full_name":"nginx/nginx","owner":{"login":"nginx","id":1412239,"avatar_url":"https://avatars1.githubusercontent.com/u/1412239?v=4","gravatar_id":"","url":"https://api.github.com/users/nginx","html_url":"https://github.com/nginx","followers_url":"https://api.github.com/users/nginx/followers","following_url":"https://api.github.com/users/nginx/following{/other_user}","gists_url":"https://api.github.com/users/nginx/gists{/gist_id}","starred_url":"https://api.github.com/users/nginx/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nginx/subscriptions","organizations_url":"https://api.github.com/users/nginx/orgs","repos_url":"https://api.github.com/users/nginx/repos","events_url":"https://api.github.com/users/nginx/events{/privacy}","received_events_url":"https://api.github.com/users/nginx/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/nginx/nginx","description":"An
        official read-only mirror of http://hg.nginx.org/nginx/ which is updated hourly.
        Pull requests on GitHub cannot be accepted and will be automatically closed.
        The proper way to submit changes to nginx is via the nginx development mailing
        list, see http://nginx.org/en/docs/contributing_changes.html","fork":false,"url":"https://api.github.com/repos/nginx/nginx","forks_url":"https://api.github.com/repos/nginx/nginx/forks","keys_url":"https://api.github.com/repos/nginx/nginx/keys{/key_id}","collaborators_url":"https://api.github.com/repos/nginx/nginx/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/nginx/nginx/teams","hooks_url":"https://api.github.com/repos/nginx/nginx/hooks","issue_events_url":"https://api.github.com/repos/nginx/nginx/issues/events{/number}","events_url":"https://api.github.com/repos/nginx/nginx/events","assignees_url":"https://api.github.com/repos/nginx/nginx/assignees{/user}","branches_url":"https://api.github.com/repos/nginx/nginx/branches{/branch}","tags_url":"https://api.github.com/repos/nginx/nginx/tags","blobs_url":"https://api.github.com/repos/nginx/nginx/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/nginx/nginx/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/nginx/nginx/git/refs{/sha}","trees_url":"https://api.github.com/repos/nginx/nginx/git/trees{/sha}","statuses_url":"https://api.github.com/repos/nginx/nginx/statuses/{sha}","languages_url":"https://api.github.com/repos/nginx/nginx/languages","stargazers_url":"https://api.github.com/repos/nginx/nginx/stargazers","contributors_url":"https://api.github.com/repos/nginx/nginx/contributors","subscribers_url":"https://api.github.com/repos/nginx/nginx/subscribers","subscription_url":"https://api.github.com/repos/nginx/nginx/subscription","commits_url":"https://api.github.com/repos/nginx/nginx/commits{/sha}","git_commits_url":"https://api.github.com/repos/nginx/nginx/git/commits{/sha}","comments_url":"https://api.github.com/repos/nginx/nginx/comments{/number}","issue_comment_url":"https://api.github.com/repos/nginx/nginx/issues/comments{/number}","contents_url":"https://api.github.com/repos/nginx/nginx/contents/{+path}","compare_url":"https://api.github.com/repos/nginx/nginx/compare/{base}...{head}","merges_url":"https://api.github.com/repos/nginx/nginx/merges","archive_url":"https://api.github.com/repos/nginx/nginx/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/nginx/nginx/downloads","issues_url":"https://api.github.com/repos/nginx/nginx/issues{/number}","pulls_url":"https://api.github.com/repos/nginx/nginx/pulls{/number}","milestones_url":"https://api.github.com/repos/nginx/nginx/milestones{/number}","notifications_url":"https://api.github.com/repos/nginx/nginx/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/nginx/nginx/labels{/name}","releases_url":"https://api.github.com/repos/nginx/nginx/releases{/id}","deployments_url":"https://api.github.com/repos/nginx/nginx/deployments","created_at":"2015-06-23T10:26:27Z","updated_at":"2017-07-18T07:34:18Z","pushed_at":"2017-07-17T14:25:32Z","git_url":"git://github.com/nginx/nginx.git","ssh_url":"git@github.com:nginx/nginx.git","clone_url":"https://github.com/nginx/nginx.git","svn_url":"https://github.com/nginx/nginx","homepage":"http://nginx.org/","size":56581,"stargazers_count":3847,"watchers_count":3847,"language":"C","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":1695,"mirror_url":null,"open_issues_count":1,"forks":1695,"open_issues":1,"watchers":3847,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"nginx","id":1412239,"avatar_url":"https://avatars1.githubusercontent.com/u/1412239?v=4","gravatar_id":"","url":"https://api.github.com/users/nginx","html_url":"https://github.com/nginx","followers_url":"https://api.github.com/users/nginx/followers","following_url":"https://api.github.com/users/nginx/following{/other_user}","gists_url":"https://api.github.com/users/nginx/gists{/gist_id}","starred_url":"https://api.github.com/users/nginx/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nginx/subscriptions","organizations_url":"https://api.github.com/users/nginx/orgs","repos_url":"https://api.github.com/users/nginx/repos","events_url":"https://api.github.com/users/nginx/events{/privacy}","received_events_url":"https://api.github.com/users/nginx/received_events","type":"Organization","site_admin":false},"network_count":1695,"subscribers_count":504}'
  recorded_at: Tue, 18 Jul 2017 13:35:29 GMT
- request:
    method: get
    uri: https://api.github.com/repos/nginx/nginx/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 1aca6358d69681767f89de9fdf6a2f275543c8dd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1500386186'
      Etag:
      - W/"ce19efa4332684d744910d3de0fe826f"
      Last-Modified:
      - Tue, 18 Jul 2017 07:34:18 GMT
      X-Oauth-Scopes:
      - admin:org_hook, admin:repo_hook, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/37912398/tags?page=2>; rel="next", <https://api.github.com/repositories/37912398/tags?page=17>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"release-1.13.3","zipball_url":"https://api.github.com/repos/nginx/nginx/zipball/release-1.13.3","tarball_url":"https://api.github.com/repos/nginx/nginx/tarball/release-1.13.3","commit":{"sha":"6454225872c058c2705fc1e207ce4bb503b2e12a","url":"https://api.github.com/repos/nginx/nginx/commits/6454225872c058c2705fc1e207ce4bb503b2e12a"}},{"name":"release-1.13.2","zipball_url":"https://api.github.com/repos/nginx/nginx/zipball/release-1.13.2","tarball_url":"https://api.github.com/repos/nginx/nginx/tarball/release-1.13.2","commit":{"sha":"2b6b360b83924ec98137990ad14f64b4cf8448f2","url":"https://api.github.com/repos/nginx/nginx/commits/2b6b360b83924ec98137990ad14f64b4cf8448f2"}},{"name":"rele[...]
- request:
    method: get
    uri: https://api.github.com/repos/nginx/nginx/commits/6454225872c058c2705fc1e207ce4bb503b2e12a?client_id=&client_secret=1aca6358d69681767f89de9fdf6a2f275543c8dd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Reset:
      - '1500386392'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"API rate limit exceeded for 148.251.201.93. (But here''s
        the good news: Authenticated requests get a higher rate limit. Check out the
        documentation for more details.)","documentation_url":"https://developer.github.com/v3/#rate-limiting"}'
  recorded_at: Tue, 18 Jul 2017 13:35:31 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/LICENSE.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - 80bc774beaa8500dae1c7b8e1b92f9c19ff41599
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:31 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/LICENSE.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - 79acc90a90823dcec26d5bc5cc6797249619732e
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:31 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/LICENSE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - 27a4be30b413f139ee75cc592016d80d99724c6e
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:32 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/LICENCE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - ed938e3f59ba3d2eb0849a0377a4f8a3b6e7c5f1
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:32 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/MIT-LICENSE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - 4bf46b4509560fe7b2cb0b95210ca752d94214fa
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:32 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/license.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - 52c65ee5dee55cd33377690f280c4fdb3ccbe4e6
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:33 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/licence.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - aca3d73d413f73393bf83e3c11e24317e97d1623
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:33 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/UNLICENSE.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - af5823359de6ecd5b3c78c32ef1a7af051d106ef
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:33 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - 920ac2d458ee84dd8fa7d6598e69672384fd2951
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:35:34 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/nginx/nginx/master/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Fastly-Request-Id:
      - 826c68a818702526bfc0721052b4826e13512f92
      Source-Age:
      - '17'
    body:
      encoding: UTF-8
      string: '404: Not Found

'
  recorded_at: Tue, 18 Jul 2017 13:36:54 GMT
recorded_with: VCR 3.0.3
