---
http_interactions:
- request:
    method: get
    uri: https://crates.io/api/v1/crates/nanomsg?api_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"categories":[{"category":"Network programming","crates_cnt":40,"created_at":"2017-01-17T19:13:05Z","description":"Crates
        dealing with higher-level network protocols such as FTP, HTTP, or SSH, or
        lower-level network protocols such as TCP or UDP.","id":"network-programming","slug":"network-programming"}],"crate":{"badges":[{"attributes":{"branch":"","repository":"blabaere/nanomsg.rs","service":""},"badge_type":"appveyor"},{"attributes":{"branch":"","repository":"blabaere/nanomsg.rs"},"badge_type":"travis-ci"}],"categories":["network-programming"],"created_at":"2014-12-08T02:08:06Z","description":"A
        high-level, Rust idiomatic wrapper around nanomsg.","documentation":"https://github.com/thehydroimpulse/nanomsg.rs","downloads":4402,"exact_match":false,"homepage":"https://github.com/thehydroimpulse/nanomsg.rs","id":"nanomsg","keywords":["binding","network","sub","pub","nanomsg"],"license":"MIT","links":{"owners":"/api/v1/crates/nanomsg/owners","reverse_dependencies":"/api/v1/crates/nanomsg/reverse_dependencies","version_downloads":"/api/v1/crates/nanomsg/downloads","versions":null},"max_version":"0.6.2","name":"nanomsg","repository":"https://github.com/thehydroimpulse/nanomsg.rs","updated_at":"2017-04-19T20:27:27Z","versions":[50723,40905,28431,21273,18445,17384,13574,9014,8236,7190,4944,940,924]},"keywords":[{"crates_cnt":21,"created_at":"2014-11-20T20:07:58Z","id":"binding","keyword":"binding"},{"crates_cnt":45,"created_at":"2014-11-23T06:47:40Z","id":"network","keyword":"network"},{"crates_cnt":1,"created_at":"2014-12-08T02:08:06Z","id":"sub","keyword":"sub"},{"crates_cnt":1,"created_at":"2014-12-08T02:08:06Z","id":"pub","keyword":"pub"},{"crates_cnt":4,"created_at":"2014-12-08T02:08:06Z","id":"nanomsg","keyword":"nanomsg"}],"versions":[{"crate":"nanomsg","created_at":"2017-04-19T20:27:27Z","dl_path":"/api/v1/crates/nanomsg/0.6.2/download","downloads":26,"features":{"bundled":["nanomsg-sys/bundled"],"no_anl":["nanomsg-sys/no_anl"]},"id":50723,"links":{"authors":"/api/v1/crates/nanomsg/0.6.2/authors","dependencies":"/api/v1/crates/nanomsg/0.6.2/dependencies","version_downloads":"/api/v1/crates/nanomsg/0.6.2/downloads"},"num":"0.6.2","updated_at":"2017-04-19T20:27:27Z","yanked":false},{"crate":"nanomsg","created_at":"2016-12-27T08:40:00Z","dl_path":"/api/v1/crates/nanomsg/0.6.1/download","downloads":509,"features":{"bundled":["nanomsg-sys/bundled"]},"id":40905,"links":{"authors":"/api/v1/crates/nanomsg/0.6.1/authors","dependencies":"/api/v1/crates/nanomsg/0.6.1/dependencies","version_downloads":"/api/v1/crates/nanomsg/0.6.1/downloads"},"num":"0.6.1","updated_at":"2016-12-27T08:40:00Z","yanked":false},{"crate":"nanomsg","created_at":"2016-06-10T20:03:55Z","dl_path":"/ap[...]
