---
http_interactions:
- request:
    method: get
    uri: https://crates.io/api/v1/crates/nanomsg?api_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"crate":{"id":"nanomsg","name":"nanomsg","updated_at":"2017-04-19T20:27:27Z","versions":[50723,40905,28431,21273,18445,17384,13574,9014,8236,7190,4944,940,924],"keywords":["binding","network","sub","pub","nanomsg"],"categories":["network-programming"],"badges":[{"badge_type":"appveyor","attributes":{"service":null,"repository":"blabaere/nanomsg.rs","branch":null}},{"badge_type":"travis-ci","attributes":{"branch":null,"repository":"blabaere/nanomsg.rs"}}],"created_at":"2014-12-08T02:08:06Z","downloads":5080,"max_version":"0.6.2","description":"A
        high-level, Rust idiomatic wrapper around nanomsg.","homepage":"https://github.com/thehydroimpulse/nanomsg.rs","documentation":"https://github.com/thehydroimpulse/nanomsg.rs","repository":"https://github.com/thehydroimpulse/nanomsg.rs","links":{"version_downloads":"/api/v1/crates/nanomsg/downloads","versions":null,"owners":"/api/v1/crates/nanomsg/owners","owner_team":"/api/v1/crates/nanomsg/owner_team","owner_user":"/api/v1/crates/nanomsg/owner_user","reverse_dependencies":"/api/v1/crates/nanomsg/reverse_dependencies"},"exact_match":false},"versions":[{"id":50723,"crate":"nanomsg","num":"0.6.2","dl_path":"/api/v1/crates/nanomsg/0.6.2/download","updated_at":"2017-06-25T14:46:48Z","created_at":"2017-04-19T20:27:27Z","downloads":433,"features":{"no_anl":["nanomsg-sys/no_anl"],"bundled":["nanomsg-sys/bundled"]},"yanked":false,"license":"MIT","links":{"dependencies":"/api/v1/crates/nanomsg/0.6.2/dependencies","version_downloads":"/api/v1/crates/nanomsg/0.6.2/downloads","authors":"/api/v1/crates/nanomsg/0.6.2/authors"}},{"id":40905,"crate":"nanomsg","num":"0.6.1","dl_path":"/api/v1/crates/nanomsg/0.6.1/download","updated_at":"2017-06-25T14:46:48Z","created_at":"2016-12-27T08:40:00Z","downloads":530,"features":{"bundled":["nanomsg-sys/bundled"]},"yanked":false,"license":"MIT","links":{"dependencies":"/api/v1/crates/nanomsg/0.6.1/dependencies","version_downloads":"/api/v1/crates/nanomsg/0.6.1/downloads","authors":"/api/v1/crates/nanomsg/0.6.1/authors"}},{"id":28431,"crate"[...]
