---
http_interactions:
- request:
    method: get
    uri: https://crates.io/api/v1/crates/nanomsg/0.6.0/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dependencies":[{"id":89992,"version_id":28431,"crate_id":"libc","req":"^0.2.11","optional":false,"default_features":true,"features":[],"target":null,"kind":"normal","downloads":0},{"id":89993,"version_id":28431,"crate_id":"nanomsg-sys","req":"^0.6.0","optional":false,"default_features":true,"features":[],"target":null,"kind":"normal","downloads":0}]}'
  recorded_at: Wed, 26 Jul 2017 09:25:37 GMT
recorded_with: VCR 3.0.3
