---
http_interactions:
- request:
    method: get
    uri: https://crates.io/api/v1/crates/nanomsg/0.6.0/dependencies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dependencies":[{"crate_id":"libc","default_features":true,"downloads":0,"features":[],"id":89992,"kind":"normal","optional":false,"req":"^0.2.11","target":null,"version_id":28431},{"crate_id":"nanomsg-sys","default_features":true,"downloads":0,"features":[],"id":89993,"kind":"normal","optional":false,"req":"^0.6.0","target":null,"version_id":28431}]}'
  recorded_at: Wed, 26 Apr 2017 08:25:43 GMT
recorded_with: VCR 3.0.3
