---
http_interactions:
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks?start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e786d47911ff7c8afd0350b178ab66b4"
    body:
      encoding: ASCII-8BIT
      string: '{"start":0,"total":3327,"items":[{"cookbook_name":"1password","cookbook_maintainer":"jtimberman","cookbook_description":"Installs
        1password","cookbook":"https://supermarket.chef.io/api/v1/cookbooks/1password"},{"cookbook_name":"301","cookbook_maintainer":"markhuge","cookbook_description":"Installs/Configures
        301","cookbook":"https://supermarket.chef.io/api/v1/cookbooks/301"},{"cookbook_name":"7dtd","cookbook_maintainer":"gregf","cookbook_description":"Installs/Configures
        the 7 Days To Die server","cookbook":"https://supermarket.chef.io/api/v1/cookbooks/7dtd"},{"cookbook_name":"7-zip","cookbook_maintainer":"sneal","cookbook_descr[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/1password
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac5ae825d519dc996b87f570f6eb6974"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"1password","maintainer":"jtimberman","description":"Installs
        1password","category":"Other","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0","external_url":"https://github.com/jtimberman/1password-cookbook","source_url":"https://github.com/jtimberman/1password-cookbook","issues_url":null,"average_rating":null,"created_at":"2011-02-26T05:16:12.000Z","updated_at":"2016-01-16T16:47:27.967Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.2.1","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.2.0","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.1.0","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.6","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.4","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.2","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.0"],"metrics":{"downloads":{"total":6486378,"versions":{"1.0.0":1034941,"1.0.2":1034878,"1.0.4":1274843,"1.0.6":1274836,"1.1.0":1274918,"1.2.0":296337,"1.2.1":294772,"1.3.0":853}},"followers":51,"collaborators":1}}'
  recorded_at: Fri, 07 Jul 2017 15:57:28 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6245e23551a1222728460d385a48bd8"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":5743,"version":"1.3.0","published_at":"2016-01-16T16:47:28Z","average_rating":null,"cookbook":"https://supermarket.chef.io/api/v1/cookbooks/1password","file":"https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0/download","quality_metrics":[{"name":"Version
        Tag","failed":false,"feedback":"passed the version tag metric."},{"name":"Contributing
        File","failed":true,"feedback":"Failure: To pass this metric, your cookbook
        metadata must include a source url, the source url must be in the form of
        https://github.com/user/repo, and your repo must contain a CONTRIBUTING.md
        file"},{"name":"Testing File","failed":true,"feedback":"Failure: To pass this
        metric, your cookbook metadata must include a source url, the source url must
        be in the form of https://github.com/user/repo, and your repo must contain
        a TESTING.md file"},{"name":"License","failed":false,"feedback":"1password
        has a recognized open source license."},{"name":"No Binaries","failed":false,"feedback":"passed
        the No Binaries metric. Contains no obvious binaries."},{"name":"Foodcritic","failed":true,"feedback":"FC064:
        Ensure issues_url is set in metadata: 1password/metadata.rb:1\nFC065: Ensure
        source_url is set in metadata: 1password/metadata.rb:1\nFC066: Ensure chef_version
        is set in metadata: 1password/metadata.rb:1\nFC069: Ensure standardized license
        defined in metadata: 1password/metadata.rb:1\nRun with Foodcritic Version
        11.1.0 with tags metadata,correctness ~FC031 ~FC045 and failure tags any"},{"name":"Supported
        Platforms","failed":false,"feedback":"1password supports at least one platform."},{"name":"Collaborator
        Number","failed":true,"feedback":"Failure: Cookbook has 1 collaborators. A
        cookbook must have at least 2 collaborators to pass this metric."},{"name":"Publish","failed":false,"feedback":"1password
        passed the publish metric"}],"supports":{"mac_os_x":">= 0.0.0"}}'
  recorded_at: Fri, 07 Jul 2017 15:57:28 GMT
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0e263f69c0b6d1eb7b59de1caebb8bb"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":1776,"version":"1.0.0","published_at":"2011-02-26T05:16:12Z","average_rating":null,"cookbook":"https://supermarket.chef.io/api/v1/cookbooks/1password","file":"https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.0/download","quality_metrics":[],"supports":{"mac_os_x":">=
        0.0.0"}}'
  recorded_at: Fri, 07 Jul 2017 15:57:34 GMT
recorded_with: VCR 3.0.3
