---
http_interactions:
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks?start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cce585a0e5421379c77eef305afdce5c"
    body:
      encoding: ASCII-8BIT
      string: '{"start":0,"total":3326,"items":[{"cookbook_name":"1password","cookbook_maintainer":"jtimberman","cookbook_description":"Installs
        1password","cookbook":"https://supermarket.chef.io/api/v1/cookbooks/1password"},{"cookbook_name":"301","cookbook_maintainer":"markhuge","cookbook_description":"Installs/Configures
        301","cookbook":"https://supermarket.chef.io/api/v1/cookbooks/301"},{"cookbook_name":"7dtd","cookbook_maintainer":"gregf","cookbook_description":"Installs/Configures
        the 7 Days To Die server","cookbook":"https://supermarket.chef.io/api/v1/cookbooks/7dtd"},{"cookbook_name":"7-zip","cookbook_maintainer":"sneal","cookbook_descr[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/1password
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d360fda65564e408b51167c97b6d17e"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"1password","maintainer":"jtimberman","description":"Installs
        1password","category":"Other","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0","external_url":"https://github.com/jtimberman/1password-cookbook","source_url":"https://github.com/jtimberman/1password-cookbook","issues_url":null,"average_rating":null,"created_at":"2011-02-26T05:16:12.000Z","updated_at":"2016-01-16T16:47:27.967Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.2.1","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.2.0","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.1.0","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.6","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.4","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.2","https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.0.0"],"metrics":{"downloads":{"total":6486364,"versions":{"1.0.0":1034940,"1.0.2":1034876,"1.0.4":1274841,"1.0.6":1274835,"1.1.0":1274916,"1.2.0":296336,"1.2.1":294771,"1.3.0":849}},"followers":51,"collaborators":1}}'
  recorded_at: Mon, 03 Jul 2017 10:53:22 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6245e23551a1222728460d385a48bd8"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":5743,"version":"1.3.0","published_at":"2016-01-16T16:47:28Z","average_rating":null,"cookbook":"https://supermarket.chef.io/api/v1/cookbooks/1password","file":"https://supermarket.chef.io/api/v1/cookbooks/1password/versions/1.3.0/download","quality_metrics":[{"name":"Version
        Tag","failed":false,"feedback":"passed the version tag metric."},{"name":"Contributing
        File","failed":true,"feedback":"Failure: To pass this metric, your cookbook
        metadata must include a source url, the source url must be in the form of
        https://github.com/user/repo, and your repo must contain a CONTRIBUTING.md
        file"},{"name":"Testing File","failed":true,"feedback":"Failure: To pass this
        metric, your cookbook metadata must include a source url, the source url must
        be in the form of https://github.com/user/repo, and your repo must contain
        a TESTING.md file"},{"name":"License","failed":false,"feedback":"1password
        has a recognized open source license."},{"name":"No Binaries","failed":false,"feedback":"passed
        the No Binaries metric. Contains no obvious binaries."},{"name":"Foodcritic","failed":true,"feedback":"FC064:
        Ensure issues_url is set in metadata: 1password/metadata.rb:1\nFC065: Ensure
        source_url is set in metadata: 1password/metadata.rb:1\nFC066: Ensure chef_version
        is set in metadata: 1password/metadata.rb:1\nFC069: Ensure standardized license
        defined in metadata: 1password/metadata.rb:1\nRun with Foodcritic Version
        11.1.0 with tags metadata,correctness ~FC031 ~FC045 and failure tags any"},{"name":"Supported
        Platforms","failed":false,"feedback":"1password supports at least one platform."},{"name":"Collaborator
        Number","failed":true,"feedback":"Failure: Cookbook has 1 collaborators. A
        cookbook must have at least 2 collaborators to pass this metric."},{"name":"Publish","failed":false,"feedback":"1password
        passed the publish metric"}],"supports":{"mac_os_x":">= 0.0.0"}}'
  recorded_at: Mon, 03 Jul 2017 10:53:23 GMT
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/301
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3790b4218a3341c44df993670904e5bb"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"301","maintainer":"markhuge","description":"Installs/Configures
        301","category":"Applications","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/301/versions/0.1.0","external_url":"https://github.com/markhuge/301-cookbook","source_url":"https://github.com/markhuge/301-cookbook","issues_url":"https://github.com/markhuge/301-cookbook/issues","average_rating":null,"created_at":"2015-01-22T04:12:02.493Z","updated_at":"2015-01-22T04:15:11.777Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/301/versions/0.1.0"],"metrics":{"downloads":{"total":486560,"versions":{"0.1.0":486560}},"followers":8,"collaborators":0}}'
  recorded_at: Mon, 03 Jul 2017 10:53:30 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/301/versions/0.1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f0ae6bff0ab067837def63088e550f3a"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"MIT","tarball_file_size":6849,"version":"0.1.0","published_at":"2015-01-22T04:12:02[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/7dtd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf37cdf29c4035490d984ccbf9c6a911"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"7dtd","maintainer":"gregf","description":"Installs/Configures
        the 7 Days To Die server","category":"Other","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/7dtd/versions/0.1","external_url":null,"source_url":null,"issues_url":null,"average_rating":null,"created_at":"2016-03-30T16:50:57.542Z","updated_at":"2016-03-30T16:50:57.399Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/7dtd/versions/0.1"],"metrics":{"downloads":{"total":265,"versions":{"0.1":265}},"followers":1,"collaborators":0}}'
  recorded_at: Mon, 03 Jul 2017 10:53:32 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/7dtd/versions/0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c186d8f11a8737454b3f4ac80b74b328"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2","tarball_file_size":7044,"version":"0.1","published_at":"2016-03-30T16:50:[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/7-zip
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4e8f80ee1eac8323b99cdaf706f0ee0e"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"7-zip","maintainer":"sneal","description":"Installs/Configures
        the 7-zip file archiver","category":"Utilities","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/7-zip/versions/1.0.2","external_url":"http://github.com/opscode-cookbooks/7-zip","source_url":"http://github.com/opscode-cookbooks/7-zip","issues_url":null,"average_rating":null,"created_at":"2011-09-27T07:43:03.000Z","updated_at":"2016-03-21T21:30:40.641Z","up_for_adoption":null,"deprecated":true,"replacement":"https://supermarket.chef.io/api/v1/cookbooks/seven_zip","versions":["https://supermarket.chef.io/api/v1/cookbooks/7-zip/versions/1.0.2","https://supermarket.chef.io/api/v1/cookbooks/7-zip/versions/1.0.0"],"metrics":{"downloads":{"total":21853285,"versions":{"1.0.0":1275525,"1.0.2":20577763}},"followers":56,"collaborators":2}}'
  recorded_at: Mon, 03 Jul 2017 10:53:34 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/7-zip/versions/1.0.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b5a2a47574d6d50b68eb7e688572ab3"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":2143,"version":"1.0.2","published_at":"2013-09-07[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/7-zip/versions/1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15f9441fbb887434f0202c767588cc9e"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":2016,"version":"1.0.0","published_at":"2011-09-27T07:43:03Z","average_rating":null,"cookbook":"https://supermarket.chef.io/api/v1/cookbooks/7-zip","file":"https://supermarket.chef.io/api/v1/cookbooks/7-zip/versions/1.0.0/download","quality_metrics":[],"supports":{"windows":">=
        0.0.0"},"dependencies":{"windows":">= 1.2.2"}}'
  recorded_at: Mon, 03 Jul 2017 10:53:36 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/abiquo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"db0ed0ef2483c3281fafa4562d775973"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"abiquo","maintainer":"nacx","description":"Installs and configures
        an Abiquo platform","ca[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/abiquo/versions/0.11.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"869821db97684f1dd0677e1d508fe7aa"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache-2.0","tarball_file_size":46705,"version":"0.11.2","published_at":"2017-0[...]
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/abiquo/versions/0.10.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e20bad6b5b4747feb2c9b9123ad24d2"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":43951,"version":"0.10.1","published_at":"2017-03-06T10:03:34Z","average_rating":null,"cookbook":"https://supermarket.chef.io/api/v1/cookbooks/abiquo","file":"https://supermarket.chef.io/api/v1/cookbooks/abiquo/versions/0.10.1/download","quality_metrics":[{"name":"Contributing
        File","failed":true,"feedback":"Failure: To pass this metric, your cookbook
        metadata must include a source url, the source url must be in the form of
        http://github.com/user/repo, and your repo must contain a CONTRIBUTING.md
        file"},{"name":"No Binaries","failed":false,"feedback":"passed the No Binaries
        metric. Contains no obvious binaries."},{"name":"Testing File","failed":true,"feedback":"Failure:
        To pass this metric, your cookbook metadata must include a source url, the
        source url must be in the form of http://github.com/user/repo, and your repo
        must contain a TESTING.md file"},{"name":"Supported Platforms","failed":false,"feedback":"abiquo
        supports at least one platform."},{"name":"Collaborator Number","failed":false,"feedback":"passed
        the Collaborators Metric with 2 collaborators."},{"name":"Version Tag","failed":false,"feedback":"passed
        the version tag metric."},{"name":"Publish","failed":false,"feedback":"abiquo
        passed the publish metric"},{"name":"License","failed":false,"feedback":"abiquo
        has a recognized open source license."},{"name":"Foodcritic","failed":true,"feedback":"FC066:
        Ensure chef_version is set in metadata: abiquo/metadata.rb:1\nFC069: Ensure
        standardized license defined in metadata: abiquo/metadata.rb:1\nRun with Foodcritic
        Version 10.3.1 with tags metadata,correctness ~FC031 ~FC045 and failure tags
        any"}],"supports":{"centos":">= 6.7","redhat":">= 6.7"},"dependencies":{"kernel-modules":"~>
        0.1.4","sysctl":"~> 0.8.1","haproxy-ng":"~> 1.2.0","rabbitmq":"~> 4.9.0","mysql2_chef_gem":"~>
        1.1.0","database":"~> 5.1.2","mariadb":"~> 0.3.1","redisio":"~> 2.5.0","yum-epel":"~>
        0.6.5","yum":"~> 3.8.2","ssl_certificate":"~> 1.11.0","selinux":"~> 0.9.0","java-management":"~>
        1.0.3","java":"~> 1.39.0","iptables":"~> 2.0.1","cassandra-dse":"~> 4.1.0","apache2":"~>
        3.1.0"}}'
  recorded_at: Mon, 03 Jul 2017 10:53:41 GMT
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/abiquo/versions/0.6.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9a7a96cdca2dcb4f8c974e1ffeebd91"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":25495,"version":"0.6.0","published_at":"2016-02-04T14:22:07Z","average_rating":null,"cookbook":"https://supermarket.chef.io/api/v1/cookbooks/abiquo","file":"https://supermarket.chef.io/api/v1/cookbooks/abiquo/versions/0.6.0/download","quality_metrics":[{"name":"Foodcritic","failed":false,"feedback":""}],"supports":{"centos":">=
        6.5"},"dependencies":{"yum":"~> 3.8.2","selinux":"~> 0.9.0","selfsigned_certificate":"~>
        0.1.0","java-management":"~> 1.0.3","iptables":"~> 2.0.1","cassandra-dse":"~>
        4.1.0","ark":"~> 0.9.0","apache2":"~> 3.1.0"}}'
  recorded_at: Mon, 03 Jul 2017 10:53:49 GMT
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/acadock
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f64897c5f01ae4477f9ac0411808dbdb"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"acadock","maintainer":"soulou","description":"Installs/Configures
        acadock monitoring tool[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/acadock/versions/0.4.4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a7edd9a0b5a0fcf35989ab1427c8510"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"MIT","tarball_file_size":2568,"version":"0.4.4","published_at":"2017-04-14T15:0[...]
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/accel-ppp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f1b84eb12dc014e828602dfd69fbfb7"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"accel-ppp","maintainer":"frostyslav","description":"Installs/Configures
        accel-pppd","category":"Networking","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/accel-ppp/versions/1.0.2","external_url":"https://github.com/frostyslav/chef-accel-pppd","source_url":"https://github.com/frostyslav/chef-accel-pppd","issues_url":"","average_rating":null,"created_at":"2014-07-11T11:33:01.471Z","updated_at":"2014-07-14T06:43:33.629Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/accel-ppp/versions/1.0.2","https://supermarket.chef.io/api/v1/cookbooks/accel-ppp/versions/1.0.1"],"metrics":{"downloads":{"total":2423576,"versions":{"1.0.1":1340250,"1.0.2":1083327}},"followers":3,"collaborators":0}}'
  recorded_at: Mon, 03 Jul 2017 10:54:16 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/accel-ppp/versions/1.0.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"06a827f2b416b6446e075d7344a8e785"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":13227,"version":"1.0.2","published_at":"2014-[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/accel-ppp/versions/1.0.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e1e8a80420fc4cc6788ad35d4d658ce"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":13216,"version":"1.0.1","published_at":"2014-07-11T11:33:01Z","average_rating":null,"cookbook":"https://supermarket.chef.io/api/v1/cookbooks/accel-ppp","file":"https://supermarket.chef.io/api/v1/cookbooks/accel-ppp/versions/1.0.1/download","quality_metrics":[],"supports":{"centos":">=
        0.0.0","debian":">= 0.0.0","ubuntu":">= 0.0.0","redhat":">= 0.0.0"},"dependencies":{"checkinstall":">=
        0.0.0"}}'
  recorded_at: Mon, 03 Jul 2017 10:54:18 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f34670ae8dad309e4b9dd1549dec1ec2"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"accounts","maintainer":"vvk","description":"System Accounts
        management","category":"Utilities","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/accounts/versions/0.2.1","external_url":"https://github.com/svanzoest-cookbooks/accounts","source_url":"https://github.com/svanzoest-cookbooks/accounts","issues_url":"https://github.com/svanzoest-cookbooks/accounts/issues","average_rating":null,"created_at":"2009-12-02T21:22:22.000Z","updated_at":"2017-02-18T20:40:06.975Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/accounts/versions/0.2.1","https://supermarket.chef.io/api/v1/cookbooks/accounts/versions/0.1.0"],"metrics":{"downloads":{"total":2263932,"versions":{"0.1.0":1159005,"0.2.1":1104928}},"followers":39,"collaborators":3}}'
  recorded_at: Mon, 03 Jul 2017 10:54:19 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/accounts/versions/0.2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30240a7edfa2aaae7e01352058389f7a"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":4223,"version":"0.2.1","published_at":"2014-07[...]
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/accumulator
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5dbe111b7cecc0cdb9e5c31f0f3a52c"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"accumulator","maintainer":"kisoku","description":"Installs/Configures
        accumulator","category":"Other","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/accumulator/versions/0.2.0","external_url":"","source_url":"","issues_url":null,"average_rating":null,"created_at":"2013-05-03T04:31:03.000Z","updated_at":"2013-05-22T02:18:25.000Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/accumulator/versions/0.2.0","https://supermarket.chef.io/api/v1/cookbooks/accumulator/versions/0.1.3"],"metrics":{"downloads":{"total":2104861,"versions":{"0.1.3":986286,"0.2.0":1118575}},"followers":4,"collaborators":0}}'
  recorded_at: Mon, 03 Jul 2017 10:54:22 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/accumulator/versions/0.2.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa4a7a6ab8cb71b1e87664f6f7b2a8de"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"Apache 2.0","tarball_file_size":2429,"version":"0.2.0","published_at":"2013[...]
[...]
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/acd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1bf3a8ffb17758b886f425b1d7a72480"
    body:
      encoding: ASCII-8BIT
      string: '{"name":"acd","maintainer":"ryanh","description":"Installs/Configures
        acd","category":"Other","latest_version":"https://supermarket.chef.io/api/v1/cookbooks/acd/versions/0.1.0","external_url":"https://github.com/rhass/acd","source_url":"https://github.com/rhass/acd","issues_url":"https://github.com/rhass/acd/issues","average_rating":null,"created_at":"2016-08-29T04:54:16.853Z","updated_at":"2016-08-29T04:54:16.843Z","up_for_adoption":null,"deprecated":false,"versions":["https://supermarket.chef.io/api/v1/cookbooks/acd/versions/0.1.0"],"metrics":{"downloads":{"total":313,"versions":{"0.1.0":313}},"followers":0,"collaborators":0}}'
  recorded_at: Mon, 03 Jul 2017 10:54:24 GMT
- request:
    method: get
    uri: https://supermarket.chef.io/api/v1/cookbooks/acd/versions/0.1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c5e968c2dac75aa94dd635182315a342"
    body:
      encoding: ASCII-8BIT
      string: '{"license":"apachev2","tarball_file_size":4039,"version":"0.1.0","published_at":"2016-08-29T04:[...]
